<!--<form id="search" autocomplete="off" action="{% url 'search_results' %}" method="get">
    <h3><label for="id_q">Search</label></h3>
    <div style="text-align:right;">
        {% csrf_token %}
        {{ form.q }}
        <div id="sss">
            <ul class="sf" id="slist" style="list-style: none;"><li id="pitem" style="display: none;"><img id="simage" /></li></ul>
        </div>
        <input id="btn" type="submit" value="Search" />

    </div>
</form>-->


<div class="header-search">
    <form id="search" autocomplete="off" action="{% url 'search_results' %}" method="get">
        {% csrf_token %}
        <input id="id_q" class="input search-input" type="text" maxlength="50" onfocus="if (this.value=='Search')this.value = ''" name="q" placeholder="Search">
        <select id="id_cat" name="slug" class="input search-categories">
            <option value="">All Categories</option>

            {% with search_categories as cats %}
                {% for c in cats %}
                    <option value="{{ c.slug }}">{{ c.name }}</option>
                {% endfor %}
            {% endwith %}
        </select>
        <input type="hidden" name="submit" value="Search" />
        <button type="submit" id="btn" class="search-btn"><i class="fa fa-search"></i></button>
        <div id="sss">
            <ul class="sf" id="slist" style="list-style: none;"><li id="pitem" style="display: none;"><img id="simage" /></li></ul>
        </div>
    </form>
</div>

