*{
    margin:0;
    padding:0;
}
html{
    font-size:medium;
}
html,body{
    background-color:Silver;
}
.cb{
    clear:both;
}
.fr{
    float:right;
}
.fl{
    float:left;
}
.bn{
    border:none;
    max-width:95%;
    max-height:100%;
}#main{
    margin: 0 auto;
    width:900px;
    background-color:white;
}
.bannerIEPadder, .sidebarIEPadder, .contentIEPadder{
    padding:10px;
}
.navIEPadder, .footerIEPadder{
    padding:5px;
}
#banner{
    width:900px;
    height:75px;
    background-color:DarkOrange;
    color:white;
    font-size:36px;
    font-weight:bold;
    position:relative;
}
div.cart_box{
    position:absolute;
    top:10px;
    right:10px;
    font-size:medium;
}
div.cart_box a{
    color:white;
}
#sidebar{
    width:200px;
    float:left;
}
#content{
    width:700px;
    float:left;
}
#footer{
    clear:both;
    background-color:#98AC5E;
    color:white;
    text-align:center;
}
a.skip_link{
    position:absolute;
    left:-1000px;
    top:-1000px;
}

#navigation{
    width:900px;
    height:30px;
    background-color:#FFF;
    text-align:middle;
}
#navigation ul{
    list-style:none;
}
#navigation ul li{
    float:left;
    margin-right:15px;
}
#navigation ul li a{
    color:#98AC5E;;
    font-weight:bold;
    text-decoration:underline;
}
#navigation ul li a:hover{
    color:#616161;
    background-color:white;
    text-decoration:none;
}

# .sidebarIEPadder {
#     right: 60px;
#     position: absolute;
# }

a{
    color:#98AC5E;
    font-weight:bold;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

/* Category page styles */
div.product_thumbnail{
    text-align:center;
    float:left;
    width:150px;
    height:200px;
}

/* Product page styles */
div.product_image{
    float:left;
    padding:0 10px 20px 0;
    height:217px;
    width:350px;
    word-wrap: break-word;
}
.product_image {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.pimage{
    object-fit: contain;
    height: 217px;
    width: 350px;
}
.pright {
    margin-left: 350px;
    max-width: 350px;
    padding-left: 20px;
    word-wrap: break-word;
}
.pcaption {
    background: #98ac5e;
    width: max-content;
    max-width: 350px;
}

/* style for Django error messages */
ul.errorlist{
background-color:Red;color:White;
}
.qerror{
    background-color:Red;
    color:White;
}

form.cart{
}

.cs{
    clear:both;
    padding-top: 5px;
}

/* styles for shopping cart page */
table#shopping_cart{
    width:100%;
    border-collapse:collapse;
    color:#616161;
}
h1,caption{
    text-align:left;
    font-size:x-large;
    margin-bottom:15px;
    color:Black;
}
th,td{
    text-align:left;
    padding:3px;
}
thead th{
    color:White;
    background-color:#616161;
}
tfoot th{
    height:40px;
}
table#shopping_cart th.right, td.right{
    text-align:right;
}
a.cart{
    color:DarkOrange;
}

h3{
    background-color:#98AC5E;
    color:White;
    padding:3px;
    margin-bottom:6px;
}
ul#categories{
    list-style:none;
}
ul#categories li{
    font-weight:bold;
    color:#616161;
}
ul#categories li a{
    text-decoration:underline;
}
div#footer a{
    color:White;
    font-size:small;
    text-decoration:underline;
    font-weight:normal;
    margin-right:10px;
}

fieldset.checkout{
    padding-bottom:15px;
    margin-bottom:15px;
}
fieldset.checkout legend{
    font-weight:bold;
    color:Black;
    margin-left:15px;
}
fieldset.checkout table{
    border-collapse:collapse;
    width:100%;
}
fieldset.checkout table th{
    text-align:right;
    width:200px;
    font-weight:normal;
}
fieldset.checkout input {
    font-family:Courier;
    font-size:Large;
}
table#receipt{
    width:100%;
    border-collapse:collapse;
}

/* registration page */
table#register{
    width:100%;
}
table#register th, td{
    vertical-align:top;
}
fieldset.my_account{
    padding:10px;
}
fieldset.my_account legend{
    font-weight:bold;
}
fieldset.my_account ul{
    list-style:none;
}
fieldset.my_account ul li{
    margin-bottom:5px;
}


/* Loading Animation */
.loading-bar{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 200px;
}

.loading-section{
    top: -35px;
    position: absolute;
    transform: scale(1.5);
}

.circle{
    width: 1px;
    height: 5px;
    position: absolute;
    animation: rotate 3.5s linear infinite;
    bottom: 90px;
    left: 130px;
}

.circle .dot{
    top: 30px;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 50%;
    position: relative;
}

.loading-text{
    color: #000;
    bottom: -85px;
    font-size: 25px;
    font-weight: 400;
    margin-left: -50px
    position: absolute;
    font-family: monospace;
    width: 350px;
}

@keyframes rotate{
    30%{
        transform: rotate(220deg);
    }
    40%{
        transform: rotate(450deg);
        opacity: 1;
    }
    75%{
        transform: rotate(720deg);
        opacity: 1;
    }
    76%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: rotate(0deg);
    }
}

.circle:nth-child(1){
    animation-delay: 0.15s;
}
.circle:nth-child(2){
    animation-delay: 0.3s;
}
.circle:nth-child(3){
    animation-delay: 0.45s;
}
.circle:nth-child(4){
    animation-delay: 0.6s;
}
.circle:nth-child(5){
    animation-delay: 0.75s;
}
.circle:nth-child(6){
    animation-delay: 0.9s;
}

/* auto search */
#slist {
    list-style: none;
    position: absolute;
    padding: 0px;
    top: 166px;
    left: 109px;
    border: solid black 1px;
    background: aliceblue;

}
#pitem {
    border: solid
    black 1px;
    text-align: center;
    width: 119px;
}
#pitem:hover {
    background: #98ac5e;
}

.pitem {
    border: solid
    black 1px;
    text-align: center;
    width: 139px;
}
.pitem:hover {
    background: #98ac5e;
}

#btn {
    background: #98ac5e;
    border-radius: 15px;
    width: 60px;
}
