{% extends "catalog.html" %}
{% load checkout_tags %}
{% load catalog_filters %}

{% block content %}






	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                <div id="form">
				<form id="checkoutform" class="clearfix" action="./{{ checkout_type }}" method="post">
					<div class="col-md-6">
						<div class="billing-details">
							{% if not request.user.is_authenticated %}
							<p>Already a customer ? <a href="#">Login</a></p>
							{% endif %}
							{% if error_message %}
								<ul class="errorlist">
									<li>{{ error_message }}</li>
									<li>{{ empty1 }}</li>
								</ul>
                                {{ form.billing_name.errors }}
                                {{ form.billing_address_1.errors }}
                                {{ form.billing_city.errors }}
                                {{ form.billing_zip.errors }}
                                {{ form.billing_country.errors }}
                                {{ form.credit_card_cvv.errors }}
								{{ form.phone2.errors }}
							{% endif %}
							<div class="section-title">
								<h3 class="title">Billing Details</h3>
							</div>
                            {% form_table_row form.shipping_name %}
							{% form_table_row form.email %}
                            {% form_table_row form.shipping_address_1 %}
                            {% form_table_row form.shipping_address_2 %}
                            {% form_table_row form.shipping_city %}
                            {% form_table_row form.shipping_state %}
                            {% form_table_row form.shipping_country %}
                            {% form_table_row form.shipping_zip %}
                            {% form_table_row form.phone %}
							<div class="form-group">
								<div class="input-checkbox">
									<input type="checkbox" id="register">
									<label class="font-weak" for="register">Create Account?</label>
									<div class="caption">
										<p>Please Input Your password<p>
												<input class="input" type="password" name="password" placeholder="Enter Your Password">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="shiping-methods">
							<div class="section-title">
								<h4 class="title">Shiping Methods</h4>
							</div>
							<div class="input-checkbox">
								<input type="radio" name="shipping" id="shipping-1" checked>
								<label for="shipping-1">Free Shiping -  KES 0.00</label>
								<div class="caption">
									<p>We are currently doing free shipping to customers in Kisii town and the immediate estates that are close to town<p>
								</div>
							</div>
							<div class="input-checkbox">
								<input type="radio" name="shipping" id="shipping-2">
								<label for="shipping-2">Standard rates</label>
								<div class="caption">
									<p>Coming soon<p>
								</div>
							</div>
						</div>

						<div class="payments-methods">
							<div class="section-title">
								<h4 class="title">Payments Methods</h4>
							</div>
                            <ul class="errorlist">
                                <li>{{ empty1 }}</li>
                            </ul>
                            <div class="input-checkbox">
								<input type="radio" name="payment" id="payments-4" value="Mpesa Payment" required="">
								<label for="payments-4">Mpesa Payment</label>
								<div class="caption">
									<p>Please Enter Your Mpesa Phone Number<p>
                                    <p>{% form_table_row form.phone2 %}</p>
								</div>
							</div>
                            <div class="input-checkbox">
								<input type="radio" name="payment" id="payments-5" value="Place Order" required="">
								<label for="payments-5">Credit Card Payment</label>
								<div class="caption">
                                    <div class="form-group">
                                        <div class="input-checkbox">
                                            <input type="checkbox" name="billing" id="billing" value="billing">
                                            <label class="font-weak" for="billing">Billing Address (If different from Shipping Info.)</label>
                                            <div class="caption">
                                                <label>Billing Information</label>
                                                <p>{% form_table_row form.billing_name %}</p>
                                                <p>{% form_table_row form.billing_address_1 %}</p>
                                                <p>{% form_table_row form.billing_address_2 %}</p>
                                                <p>{% form_table_row form.billing_city %}</p>
                                                <p>{% form_table_row form.billing_zip %}</p>
                                                <p>{% form_table_row form.billing_country %}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <label>Credit Card Details</label>
                                    <p>{% form_table_row form.credit_card_number %}</p>
                                    <div class="row">
                                    <p class="col-md-4">{{ form.credit_card_type }}</p>
                                    </div>
                                    <div class="row">
                                    <p class="col-md-3">{{ form.credit_card_expire_month }}</p>
                                    <p class="col-md-3">{{ form.credit_card_expire_year }}</p>
                                    </div>
                                    <p class="pl-0 col-md-2">{% form_table_row form.credit_card_cvv %}</p>
								</div>
							</div>
							<div class="input-checkbox">
								<input type="radio" name="payment" id="payments-1" required="">
								<label for="payments-1">Direct Bank Transfer</label>
								<div class="caption">
									<p>Coming soon<p>
								</div>
							</div>
							<div class="input-checkbox">
								<input type="radio" name="payment" id="payments-2" required="">
								<label for="payments-2">Cheque Payment</label>
								<div class="caption">
									<p>Coming soon<p>
								</div>
							</div>
							<div class="input-checkbox">
								<input type="radio" name="payment" id="payments-3" value="empty" required="">
								<label for="payments-3">Paypal System</label>
								<div class="caption">
									<p>Coming soon<p>
								</div>
							</div>
                            <div class="input-checkbox hidden">
								<input type="radio" name="payment" id="payments-" checked>
								<label for="payments-"></label>
								<div class="caption">
									<p><p>
								</div>
							</div>
						</div>
					</div>
					<input id="page_title" type="hidden" value="{{ page_title }}">
				<div id="cart-div">
				{% include 'cart/cart_preview.html' %}
				</div>
				</form>
                </div>
                <script>
                document.getElementById("checkoutform").addEventListener("submit", loading)
                function loading() {
                    var form = document.getElementById("checkoutform");
                    form.style.visibility = "hidden";
                    var loaddiv = document.createElement("div");
                    loaddiv.setAttribute("class", "loading-bar");
                    console.log('1');
                    loaddiv.innerHTML = "{% include 'checkout/loading.html' %}";
                    console.log('2');
                    form.parentNode.insertBefore(loaddiv, form.nextSibling);
                    console.log(form.innerHTML);
                    var form1 = document.getElementById("form");
                }
                </script>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->



{% endblock %}