{% extends "catalog.html" %}
{% load catalog_tags %}

{% block slider %}
{% include "catalog/homeslider.html" %}
{% endblock %}
<br />
{% block content %}
    <h1>Welcome to Modern Musician</h1>
<div class="container">{% product_list recently_viewed 'Your Recently Viewed' %}</div>
<div class="container">{% product_list view_recs 'Similar Products' %}</div>
<div class="container">{% product_list featured 'Featured Products' %}</div>
<div class="container">{% product_list search_recs 'Recommended For You' %}</div>
<div class="container">{% product_list all_view_recs 'Recently viewed by other customers' %}</div>
{% endblock %}